.page-deputy__bills {
  &-item {
    border-bottom: 1px solid #cccccc6e;
    padding-bottom: 1rem;
    color: var(--accent-color);
    width: 80%;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 1280px) {
    &-item {
      width: 100%;
    }
  }
}
