.main-page__hero-posts-list {
  grid-column: 2 / 2;
  grid-row: 1 / 3;
  overflow: hidden;

  .list {
    display: flex;
    flex-direction: column;
  }

  .post {
    width: 100%;
    height: 330px;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0rem;
    }
  }

  @media screen and (max-width: 1280px) {
    .post {
      height: 270px;
    }
  }

  @media screen and (max-width: 1024px) {
    .post {
      height: 200px;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;

    .post {
      height: 200px;
    }
  }
}
