.main-page__about {
  .container {
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    margin-right: 2.5rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--accent-color);
    line-height: 1.8rem;
  }

  article {
    margin: 0 auto;
    margin-top: 0.5rem;
    max-width: 700px;
    opacity: 0.7;
  }

  @media screen and (max-width: 600px) {
    .container {
      flex-direction: column;
    }

    .image {
      margin-right: 0;
      margin-bottom: 2rem;
    }

    .info {
      text-align: center;
    }

    article {
      margin-top: 2rem;
    }
  }
}
