.page-news {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .sidebar {
    width: 29.9%;
  }

  @media screen and (max-width: 1024px) {
    .sidebar {
      width: 100%;
      padding: 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%;
      padding: 1rem;
    }
  }
}
